ion-content ion-toolbar {
    --background: translucent;
  }
  ion-header ion-toolbar {
    --background: translucent;
  }
  ion-title{
      color: black;
  }
  .containerReset{
    margin-top: 10%;
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 30px;
    padding: 2% 5%;  
  }
  .labelText{
    margin-bottom: 10%;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
  
  }
  .buttonReset{
    width: 80%;
    height: 100%;
    font-size: x-large;
    color: black;
    --background: url('../../../assets/imgs/botonLogin.jpg'); 
    --border-radius: 25px ;
    --border: 2px double rgb(0, 0, 0);
  }
  
  .camposFormulario{
    font-size: 15px;
    border: 1px double black;
    border-radius: 25px;
  }
  
  .imagen{
    width: 50%;
    border-radius: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -40%;
    margin-bottom: -40%;
  
  }

  