<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img src='../../../assets/icon/boulder.png'>
      </ion-avatar>
      <ion-label>{{boulder.name}}</ion-label>
      <ion-button (click)='unFollow()' *ngIf="subscrito==true">Unfollow</ion-button>
      <ion-button (click)='follow()' *ngIf="subscrito==false">Follow</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size=6 *ngFor="let item of imageBlock">
      <ion-item (click)="openBlock(item)">
        <img src={{item.imageBlock}}>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>