<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <canvas #imageCanvas>
        </canvas>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Name: </ion-label>
          <ion-input type="text" [(ngModel)]='block.name'></ion-input>
          <!-- [(ngModel)]='user.email' -->
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floting">Boulder: </ion-label>
          <ionic-selectable item-content [(ngModel)]="boulder" itemValueField="id" itemTextField="name" [items]="boulders"
            [canSearch]="true" (onSearch)="searchboulders($event)" (onChange)="boulderChange($event)">
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Level:</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="this.block.level">
            <ion-select-option *ngFor="let level of keys(levels)" >{{level}}</ion-select-option>
            <!--  -->
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btnContinue" (click)="upload()">Continue</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>